body {
  background-color: #010115; /* Darker blue background color */
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 60%, transparent 60%, transparent),
                    linear-gradient(225deg, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 60%, transparent 60%, transparent);
  background-size: 2px 2px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.-main {
  background-color: #010115; /* Darker blue background color */
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 60%, transparent 60%, transparent),
                    linear-gradient(225deg, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 60%, transparent 60%, transparent);
  background-size: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.process-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 3%;
}

.card {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.card h2 {
  color: #010115; /* Darker blue color for contrast */
  font-size: 3em;
  margin: 0 0 10px 0;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #010115; /* Darker blue color for contrast */
}

.card p {
  font-size: 1em;
  line-height: 1.5;
  color: #010115; /* Darker blue color for contrast */
}

.heading-description {
  line-height: 1.6; /* Adjust line height for better readability */
  text-align: center; /* Center align the text */
  margin: 1rem 0rem 3rem 0rem; /* Margin for spacing above and below the heading */
  width: 100%; /* Full width */
  max-width: 650px; /* Maximum width to control line breaks */
  word-wrap: break-word; /* Ensure text wraps properly */
  color: aliceblue;
}

/* Media queries for responsiveness */

/* For screens smaller than 768px (tablets and mobiles) */
@media (max-width: 768px) {
 .process-cards {
      flex-direction: column;
      gap: 20px;
  }
 .card {
      width: 100%;
      padding: 15px;
  }
 .heading-description {
      max-width: 90%;
  }
}

/* For screens smaller than 480px (mobiles) */
@media (max-width: 480px) {
 .process-cards {
      gap: 10px;
  }
 .card {
      padding: 10px;
  }
 .heading-description {
      max-width: 80%;
  }
}