/* components/ImageCarousel.css */
.carousel .slide {
  background: none;
  border-bottom: 1px solid rgba(236, 232, 232, 0.717);
  background-color: #0d0115; /* Dark background color */
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 1px 1px; /* Size of the diagonal lines */
}

.carousel .slide img {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 65vh; /* Adjust the height as needed, but keep within viewport height */
  object-fit: cover;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .carousel .slide img {
    height: 50vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .carousel .slide img {
    height: 40vh; /* Further adjustment for very small screens */
  }
}
